## Step 1: Collect & Extract Data

In [2]:
import pandas as pd
import numpy as np
import os
print(os.getcwd())
## Need to find out which directory has the files
rentals_df = pd.read_csv('rentals.csv')
rentals_df.head(5)

/Users/saurabhmallik/Documents/Python-Feb-2020/Assignments

,Rental Price,Source,Type,Apartment Complex,Bedrooms,Bathroom,Balconies,Super Area,Carpet Area,Furnished Status,Car Parking,Floor,Facing,Data Source,Gated Community,Clubhouse,Gym,Lock-in period
0,41000,Magicbricks,Ad,Rosedale Gardens,3,2,3,2231,NaN,NaN,NaN,9,SE,NaN,NaN,NaN,NaN,NaN
1,27000,Magicbricks,Ad,Elite Vista,2,2,1,1174,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2,8000,Magicbricks,Ad,SP Sukhobrishti,1,1,1,480,NaN,NaN,NaN,4,SE,NaN,NaN,NaN,NaN,NaN
3,13000,Magicbricks,Ad,SP Sukhobrishti,3,2,1,903,NaN,NaN,NaN,10,NE,NaN,NaN,NaN,NaN,NaN
4,46000,Magicbricks,Ad,Uniworld City,3,3,3,2100,NaN,NaN,NaN,10,S,NaN,NaN,NaN,NaN,NaN

In [15]:
rentals_df=rentals_df[['Bedrooms','Bathroom','Balconies','Super Area','Floor','Rental Price']]
rentals_df.head()

   Bedrooms  Bathroom  Balconies  Super Area  Floor  Rental Price
0         3         2          3        2231      9         41000
1         2         2          1        1174      1         27000
2         1         1          1         480      4          8000
3         3         2          1         903     10         13000
4         3         3          3        2100     10         46000

In [16]:
rentals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Bedrooms      6 non-null      int64
 1   Bathroom      6 non-null      int64
 2   Balconies     6 non-null      int64
 3   Super Area    6 non-null      int64
 4   Floor         6 non-null      int64
 5   Rental Price  6 non-null      int64
dtypes: int64(6)
memory usage: 416.0 bytes

In [ ]:
##Data looks complete. All values are non null

In [17]:
X= rentals_df[['Bedrooms','Bathroom','Balconies','Super Area','Floor']]
Y= rentals_df['Rental Price']

## Step 2: Splitting the Dataset into Training and Test Sets

In [18]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,Y,train_size = 0.8,random_state = 100)

## Step 3: Fitting the Model

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(train_X, train_y)

LinearRegression()

In [22]:
pred=regressor.predict(test_X)

In [23]:
print(pred)

[27077.25363636  4976.57955103]

In [25]:
import pickle
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[3,2,3,2231,9]]))

[41000.]

## Step 4: Printing Estimated Parameters and Interpreting Them

In [9]:
print(sm_lm.params)

NameError: name 'sm_lm' is not defined

### The estimated (predicted) model can be written as Rental Price = -1.6 + 8.3 * (bedroom)